/NEURON/saveClass.pyc
/NEURON/libcell.pyc
*.bak
*~
generatedNeuroML
generatedMOOSE
generatedGENESIS
generatedNEURON


simulations
savedNetworks
pythonScripts/*.xml

NeuroML2/*.dat
NeuroML2/*.mod
NeuroML2/*.log
NeuroML2/*.hoc
NeuroML2/*.props
NeuroML2/*nrn.py

x86_64
umac
i386
generatedNeuroML2

