/NEURON/temp.pkl
/NEURON/*.pyc
/NEURON/test/*.dat
/NEURON/test/*.pkl
/NEURON/test/*.pyc
/NEURON/mod.files/*.dat
*.bak
*~
generatedNeuroML
generatedMOOSE
generatedGENESIS
generatedNEURON


simulations
savedNetworks
pythonScripts/*.xml

NeuroML2/*.dat
NeuroML2/*.mod
NeuroML2/*.log
NeuroML2/*.hoc
NeuroML2/*.props
NeuroML2/*nrn.py
NeuroML2/LEMS_Test*

x86_64
umac
i386
generatedNeuroML2
/NeuroML2/L23_NoHotSpot.cell.svg
/NeuroML2/L23_IV.net.svg
/NeuroML2/L23_morph.cell.svg
/NEURON/temp.*
/NeuroML2/*cell.png
/NeuroML2/*old
/NeuroML2/notebooks/.ipynb_checkpoints
/NeuroML2/notebooks/*.mod
/NeuroML2/notebooks/*.dat
/NeuroML2/notebooks/*_nrn.py
/NeuroML2/notebooks/*.hoc
/NeuroML2/notebooks/LEMS_iv_L23_NoHotSpot.xml
/NeuroML2/notebooks/iv_L23_NoHotSpot.net.nml
